@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  .provider {
    @apply px-2 py-2 shadow-xl rounded-full;
  }

  .icon {
    @apply text-2xl;
  }
}
